.tna-business-plan .bp-timeline {
  width: 100%;
  max-width: 640px;
  margin: 0 auto; }
  .tna-business-plan .bp-timeline ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative; }
  .tna-business-plan .bp-timeline ul li {
    list-style-image: none;
    margin: 0;
    padding: 0; }
  .tna-business-plan .bp-timeline h4 {
    margin: 0.4em 0 0.4em 100px; }
  .tna-business-plan .bp-timeline .tl-text {
    margin-left: 100px;
    min-height: 60px; }
  .tna-business-plan .bp-timeline .tl-thumb {
    display: block;
    float: left;
    width: 80px;
    height: 80px; }
    .tna-business-plan .bp-timeline .tl-thumb img {
      border-radius: 50%; }
  @media (min-width: 1024px) {
    .tna-business-plan .bp-timeline {
      max-width: 100%; }
      .tna-business-plan .bp-timeline .tl-item {
        float: left;
        width: 27.5%;
        position: relative; }
      .tna-business-plan .bp-timeline .pipe-above::before {
        content: '';
        position: absolute;
        top: 128px;
        left: 39px;
        height: 112px;
        width: 2px;
        background: #FCE45C; }
      .tna-business-plan .bp-timeline .pipe-above::after {
        content: '';
        position: absolute;
        top: 232px;
        left: 30px;
        height: 4px;
        width: 4px;
        border-radius: 10px;
        border: 8px solid #FCE45C;
        background: transparent;
        z-index: 10; }
      .tna-business-plan .bp-timeline .pipe-below::before {
        content: '';
        position: absolute;
        top: -35px;
        left: 39px;
        height: 73px;
        width: 2px;
        background: #FCE45C; }
      .tna-business-plan .bp-timeline .pipe-below::after {
        content: '';
        position: absolute;
        top: -48px;
        left: 30px;
        height: 4px;
        width: 4px;
        border-radius: 10px;
        border: 8px solid #FCE45C;
        background: transparent;
        z-index: 10; }
      .tna-business-plan .bp-timeline .tl-red::before {
        background-color: #CB0D07; }
      .tna-business-plan .bp-timeline .tl-red::after {
        border-color: #CB0D07; }
      .tna-business-plan .bp-timeline .tl-teal::before {
        background-color: #099; }
      .tna-business-plan .bp-timeline .tl-teal::after {
        border-color: #099; }
      .tna-business-plan .bp-timeline .tl-item:nth-child(2) {
        margin-top: 280px;
        margin-left: -10%; }
      .tna-business-plan .bp-timeline .tl-item:nth-child(3) {
        margin-left: -10%; }
      .tna-business-plan .bp-timeline .tl-item:nth-child(4) {
        margin-top: 280px;
        margin-left: -10%; }
      .tna-business-plan .bp-timeline .tl-item:nth-child(5) {
        margin-left: -10%; }
      .tna-business-plan .bp-timeline .tl-line {
        position: absolute;
        top: 240px;
        width: 100%;
        border-bottom: 4px solid #263B67; }